<?php

define('OAUTH_CLIENT_ID', null);
define('OAUTH_CLIENT_SECRET', null);
define('FACEBOOK_CLIENT_ID', null);
define('FACEBOOK_CLIENT_SECRET', null);
define('DISCORD_CLIENT_ID', null);
define('DISCORD_CLIENT_SECRET', null);
define('GOOGLE_CLIENT_ID', null);
define('GOOGLE_CLIENT_SECRET', null);
define('GITHUB_CLIENT_ID', null);
define('GITHUB_CLIENT_SECRET', null);
define('TWITCH_CLIENT_ID', null);
define('TWITCH_CLIENT_SECRET', null);
define('LINKEDIN_CLIENT_ID', null);
define('LINKEDIN_CLIENT_SECRET', null);